

/**
 * Default Styles
 */

/**
 * Header and Navabr Site Css
 */

.ew-navbar {
    background-color: #68829e;
    border-radius: 0px;
    border-color: #68829e;
    min-height: 60px;
}


.ew-first-section {
    height: 250px;
    background-color: red;
}

.ew-bg-img {
    background: url(../Images/crew-22256.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
}